/* Login.scss */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.LoginPage {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../../../Assets/Main-Assets/Login-bg-img.jpg') no-repeat center center fixed;
    background-size: 100%;
    padding: 15px;
  }

  form {
    .logo {
      color: var(--blackColor);
      font-weight: 600;
      cursor: pointer;
      align-items: center;
      justify-content: center;

      .icon {
        font-size: 25px;
        color: var(--PrimaryColor);
        transform: translateY(5px);

      }

    }

    input {
      padding: 4px 6px;
    }
  }

}