/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Global styles */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
  }
  
  /* Main container */
  .about-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
/* Hero section */
.hero-section {
    /* background-image: url(''); */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  .hero-content {
    background-color: rgba(0, 0, 0, 0.6); /* Add a semi-transparent background overlay */
    padding: 20px;
  }
  
  .hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 1.2em;
  }
  
  
  /* Mission section */
  .mission-section {
    margin: 40px 0;
    text-align: center;
  }
  .mission-content {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .mission-content h2 {
    color: #4a90e2;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  /* Team section */
  .team-section {
    margin: 40px 0;
    text-align: center;
  }

  .team-content{
    max-width: 800px;
    margin: 0 auto;
  }
  
  .team-content h2 {
    color: #4a90e2;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  /* Values section */
  .values-section {
    margin: 40px 0;
    text-align: center;
  }
  .values-content{
    max-width: 800px;
    margin: 0 auto;
  }
  .values-content h2 {
    color: #4a90e2;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .values-content ul {
    list-style-type: none;
    padding-left: 20px;
  }
  
  .values-content li {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  /* Contact section */
  .contact-section {
    margin: 40px 0;
    text-align: center;
  }

  .contact-content{
    max-width: 800px;
    margin: 0 auto;
  }
  
  
  .contact-content h2 {
    color: #4a90e2;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .contact-content p {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  