/* Trekking.css */

/* Styling for the main section */
.main {
  padding: 20px;
}

/* Styling for the section title */
.secTitle {
  text-align: center;
}

.title {
  font-size: 28px;
  font-weight: bold;
}

/* Styling for the section content grid */
.secContent-grid {
  display: grid;
  grid-template-columns: repeat(
    4,
    1fr
  ); /* Adjust the number of columns as needed */
  gap: 20px; /* Adjust the gap between grid items */
  margin-top: 20px;
}

/* Styling for the Trekking card */
.Trekking-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;
}

.Trekking-card:hover {
  transform: scale(1.02); /* Add a slight zoom effect on hover */
}

/* Styling for the image within the card */
.Trekking-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

/* Styling for the cardInfo section within the card */
.Trekking-card .cardInfo {
  margin-top: 20px;
}

.Trekking-card .destTitle {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Trekking-card .grade {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
}

.Trekking-card .grade small {
  font-size: 12px;
  margin-left: 5px;
}

.Trekking-card .price h5 {
  font-size: 18px;
  font-weight: bold;
}

.Trekking-card .desc p {
  font-size: 14px;
  color: #777;
  margin-top: 10px;
}

/* Styling for the DETAILS button */
.Trekking-card .btn {
  background-color: hsl(187, 83%, 54%);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Trekking-card .btn:hover {
  background-color: hsl(187, 83%, 54%);
}
